<div class="">
  <!-- Repeat .product-card for each product -->
  <div class="product-card bg-white  overflow-hidden">
    <a href="{{ product_product.url }}" class="block">
      {% if product_product.featured_image %}
        <div
          class="product-image"
          style="height: 30rem;"
          data-aos="fade-up"
        >
          <img
            class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"
            src="{{ product_product.featured_image | img_url: '3800x' }}"
            alt="{{ product_product.featured_image.alt }}"
          >
        </div>

      {% else %}
        <div class="product-placeholder h-64 bg-gray-100 flex items-center justify-center">
          <!-- Placeholder content here -->
        </div>
      {% endif %}
    </a>
    <div class="product-info p-4">
      <h1 class="vendor font-serif text-left text-lg">{{ product_product.vendor }}</h1>
      <div class="product-title my-2">
        <a href="{{ product_product.url }}" class="text-left font-serif text-xl text-gray-800 hover:text-gray-600">
          {{- product_product.title -}}
        </a>
      </div>
      <p class="price text-left font-serif text-lg text-gray-900">{{ product_product.price | money }}</p>
    </div>
  </div>
  <!-- ... other product cards ... -->
</div>

<script>
    {% if request.design_mode %}
      document.addEventListener("shopify:section:load", function(event) {
            AOS.init();
      });
  {% endif %}
  AOS.init();
</script>
<!-- Include Tailwind CSS -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
