<div class="boxcollection_{{ section.id }} cardcollect">
  <h1 class="text-center title-collection">{{ section.settings.title }}</h1>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    {% for collection in collections %}
      {% if collection.all_products_count > 0 %}
        <div
          class="product-cardoverflow-hidden"
        >
          <a
            href="{{ collection.url }}"
            class="block"
            data-aos="fade-up"
          >
            <div class="product-image" style="height: 50rem;">
              {% if collection.featured_image != blank %}
                {% assign collection_image = collection.featured_image %}
              {% else %}
                {% assign collection_image = collection.products.first.image %}
              {% endif %}

              <img
                class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"
                src="{{ collection_image | img_url: '3800x' }}"
                alt="{{ collection.title | escape }}"
              >
            </div>
          </a>

          <div class="product-info-collection">
            <h1 class="title-for-collection">{{ collection.title }}</h1>
            <a href="{{ collection.url }}" class="btnx "> SHOP NOW </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  @media (min-width: 768px) {
    .boxcollection_{{ section.id }} {
      padding: 6rem;
    }
    .title-collection {
      font-size: 80px;
      text-align: center;
      padding: 2rem;
    }
  }
  .boxcollection_{{ section.id }} {
    background: {{ section.settings.color }};
  }

  .product-info-collection {
    position: relative;
    top: -326px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-for-collection {
    color: white;
    font-size: 40px;
    text-align: center;
  }
  .btnx {
    background: white;
    padding: 9px 35px;
    position: absolute;
    top: 137px;
  }
  @media (max-width: 767px) {
    .boxcollection {
      padding: 2rem;
    }
    .title-collection {
      font-size: 35px;
      text-align: center;
      padding: 2rem;
    }
  }
</style>

<!-- Include Tailwind CSS -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

{% schema %}
{
  "name": "Categories",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Section Color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Categories"
    }
  ]
}
{% endschema %}

<script>
    {% if request.design_mode %}
      document.addEventListener("shopify:section:load", function(event) {
            AOS.init();
      });
  {% endif %}
  AOS.init();
</script>
