<div class="features-section">
  {% for block in section.blocks %}
    <div class="feature" id="feature-{{ block.id }}">
      <div class="feature-icon">
        {% if block.settings.icon != blank %}
          <img src="{{ block.settings.icon | img_url: '3800x' }}" alt="{{ block.settings.title | escape }}">
        {% endif %}
      </div>
      <h1 class="feature-title">{{ block.settings.title }}</h1>
      <p class="feature-description">{{ block.settings.description }}</p>
    </div>
  {% endfor %}
</div>
<style>
  .features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 45px;
    background: {{ section.settings.color }};
  }

  .feature {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-icon img {
    max-width: 60px; /* Control the size of the icons */
    height: auto;
    margin-bottom: 10px;
  }

  .feature-title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .feature-description {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .features-section {
      flex-direction: column;
    }

    .feature {
      margin-bottom: 20px;
    }
  }
</style>
{% schema %}
{
  "name": "Ecommerce Features",
  "settings": [
    {
      "type": "color",
      "id": "color",
      "label": "Background Color",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Feature Icon",
          "info": "Recommended size: 60px by 60px."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Feature Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Feature description."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Ecommerce",
      "category": "Custom",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}
